In [1]:
import pandas as pd

data = pd.read_csv('./data/ch02-data.csv')
data['amount_x_2'] = data['ammount'] * 2
data.to_csv('./data/ch02-data_more.csv')

In [2]:
# print a specific column
print(data.ammount)

0    323
1    233
2    433
3    555
4    123
5      0
6    221
Name: ammount, dtype: int64

In [3]:
# print the name of all columns
print(data.columns)

Index(['day', 'ammount', 'amount_x_2'], dtype='object')

In [12]:
df = pd.read_csv('./data/ch02-data.tab', skiprows=1, delimiter=' ', names = ['day', 'ammount'], index_col=1)
df = df.reset_index(drop=True)
df

          day  ammount
0  2013-01-24    323.0
1  2013-01-25    233.0
2  2013-01-26    433.0
3  2013-01-27    555.0
4  2013-01-28    123.0
5  2013-01-29      NaN
6  2013-01-30    221.0